<template>
  <div>
    <h1>Widget</h1>
    <h2>injected</h2>
    <pre>{{ widgetData }}</pre>
    <hr />

    <h2>props</h2>
    <pre>{{ items }}</pre>
  </div>
</template>

<script>
export default {
  name: "Widget1",
  inject: ["widgetData"],
  props: ["items"],
};
</script>
