<script>
import { h } from "vue";
export default {
  name: "Row",
  abstract: true,
  render() {
    return h("div", { class: "row" }, [this.$slots.default[0]]);
  },
};
</script>

<style>
.row {
  border: 1px solid #b2b2b2;
  margin: 15px;
}
</style>
