<template>
  <div>
    <slot name="content" :items="items"></slot>
  </div>
</template>

<script>
import { DataService } from "./DataService";

export default {
  provide() {
    const data = {};

    Object.defineProperty(data, "items", {
      enumerable: true,
      get: () => this.items,
    });

    return {
      widgetData: data,
    };
  },
  props: {
    source: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    items: [
      { name: "a", type: "A", count: 12 },
      { name: "b", type: "B", count: 1 },
      { name: "c", type: "B", count: 22 },
      { name: "d", type: "A", count: 2 },
      { name: "3", type: "A", count: 4 },
    ],
    items2: null,
  }),
  async mounted() {
    // const response = await fetch(this.source);
    // const data = await response.json();
    // this.items = data;
    DataService.set(this.items);
    DataService.source$.subscribe((val) => (this.items = val));
  },
};
</script>
