<template>
  <div>
    <h1>Filters</h1>
    <div>
      <!-- Button does not have change event, but on select filters etc it would work this way -->
      <button @click="AddCountFilter" @change="filter">Count > 5</button>
      <button @click="addTypeFilter" @change="filter">Type == A</button>
      <button @click="unfilter">Unfilter</button>
    </div>
  </div>
</template>

<script>
import { DataService } from "./DataService";

export default {
  name: "Filters",
  data: () => ({
    filterConditions: [],
  }),
  methods: {
    AddCountFilter() {
      const condition = (item) => item.count > 5;
      this.filterConditions.push(condition);
      this.filter();
    },
    addTypeFilter() {
      const condition = (item) => item.type === "A";
      this.filterConditions.push(condition);
      this.filter();
    },

    filter() {
      // const filterFn = (items) =>
      //   items.filter((item) => this.filterConditions.every((f) => f(item)));
      const filterFn = (items) =>
        items.filter((item) =>
          this.filterConditions.every((filterFn) => filterFn(item))
        );
      console.log(filterFn);

      DataService.filter(filterFn);
    },
    unfilter() {
      console.log("unfilter");
      DataService.unfilter();
    },
  },
};
</script>
