<template>
  <div class="page-container">
    <DataSource>
      <template v-slot:content="{ items }">
        <div>
          <Row>
            <Filters />
          </Row>
          <Row>
            <Widget1 :items="items" />
          </Row>
          <Row>
            <Widget1 />
          </Row>
        </div>
      </template>
    </DataSource>
  </div>
</template>

<script lang="ts">
import DataSource from "./DataSource.vue";
import Widget1 from "./widgets/Widget1.vue";
import Row from "./layout/Row.vue";
import Filters from "./Filters.vue";

export default {
  name: "HelloWorld",
  components: {
    DataSource,
    Widget1,
    Row,
    Filters,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
